

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      BookQuote
    </a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="mainNavbar">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            Home
          </a>
        </li>
        @if (authService.isLoggedIn()){
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">
            Books
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/quotes">
            Quotes
          </a>
        </li>
        }


      </ul>

      <div class="d-flex gap-2">
        @if (authService.isLoggedIn()){
        <button 
          type ="button"
          class="btn btn-secondary"
          (click)="logout()">
          Logout
        </button>
        } @else {
        <a routerLink="/auth/login"
           class="btn btn-outline-light">
          Login
        </a>

        <a routerLink="/auth/register"
           class="btn btn-primary">
          Register
        </a>
        }


      </div>

    </div>

  </div>
</nav>
